.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
.env
htmlcov
dist
site
.coverage
coverage.xml
.netlify
*.db
log.txt
env3.*
env
docs_build
venv
docs.zip
archive.zip
*.gz
acme.json

# vim temporary files
*~
.*.sw?
