<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Blog of Blake Senftner</title>
  <link rel="stylesheet" href="/static/index.css">

  <style>
   div#mainContent {
	  box-sizing: border-box;
	  font-family: Helvetica, Arial, sans-serif;
	  font-size: 16px;
	  height: 50%;
	  margin: 0px;
	  position: relative;
	}
  </style>

  <!-- Remove this when import maps will be widely supported -->
<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

<script type="importmap">
  {
    "imports": {
      "three": "/static/three/build/three.module.js"
    }
  }
</script>

</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		{# the main content area #}
		<main>
			<div id="mainContent">
				
			</div>
		</main>

		{# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Login()">Login</a>
				<br/>
				<a href="#" class="button" onclick="Register()">Register</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>

	<script>
		function UserContact() { window.location.href = "/Contact"; }

		function Contact() { window.location.href = "/precontact"; }

		function Login() { window.location.href = "/login"; }

		function Register() { window.location.href = "/register"; }

		function UserSettings() { window.location.href = "/Settings"; }
	</script>
	
	<script src="/static/stats.js/build/stats.min.js"></script>

	<script type="module">
		
		const gObamaA3DASceneInfo = { 
			'cam': {
				'pos': { 'x': 0, 'y': 15, 'z': 50 },
				'target': { 'x': 0, 'y': 13, 'z': 0 },
				'helper': true,
			},
			'obj': {
				'url': 'static/a3da/Auto3DAvatarObama2.glb',
				'scale': 1,
			}
		};

		
		const gNewAvatarSceneInfo = { 
			'cam': {
				'pos': { 'x': 0, 'y': 40, 'z': 50 },
				'target': { 'x': 0, 'y': 20, 'z': 0 },
				'helper': false,
			},
			'obj': {
				'url': 'static/a3da/avatar2022.glb',
				'scale': 20,
			}
		};


		document.addEventListener("DOMContentLoaded", function() {
			page_init();
			DoThree( gObamaA3DASceneInfo );
		  },{ once: true });


		import {
			PerspectiveCamera, CameraHelper,
			Scene, Color, Fog, HemisphereLight, DirectionalLight,
			BoxGeometry, PlaneGeometry,
			MeshNormalMaterial,
			MeshStandardMaterial, MeshPhongMaterial,
			Mesh, AnimationMixer, GridHelper,
			WebGLRenderer,
			Clock, MathUtils
		} from 'three';

		import { OrbitControls } from '/static/three/examples/jsm/controls/OrbitControls.js';
		import { DRACOLoader } from '/static/three/examples/jsm/loaders/DRACOLoader.js';
		import { GLTFLoader } from '/static/three/examples/jsm/loaders/GLTFLoader.js';


		// dumps a gltf scene graph
		function dumpObject(obj, lines = [], isLast = true, prefix = '') {
			const localPrefix = isLast ? '└─' : '├─';
			lines.push(`${prefix}${prefix ? localPrefix : ''}${obj.name || '*no-name*'} [${obj.type}]`);
			const newPrefix = prefix + (isLast ? '  ' : '│ ');
			const lastNdx = obj.children.length - 1;
			obj.children.forEach((child, ndx) => {
			  const isLast = ndx === lastNdx;
			  dumpObject(child, lines, isLast, newPrefix);
			});
			return lines;
		}

		// collects the mesh objects, placing them into 'meshObjs[]':
		let gMeshObjs = [];
		function getMeshObjects(obj, meshObjs = [], isLast = true) {
			if (obj.type=='Mesh')
				meshObjs.push(obj);
			//
			const lastNdx = obj.children.length - 1;
			obj.children.forEach((child, ndx) => {
			  const isLast = ndx === lastNdx;
			  getMeshObjects(child, meshObjs, isLast);
			});
			return meshObjs;
		}
	
		let gParentObj, gCamCtrls, gEyeRot = 0;

		function DoThree( sceneInfo  ) {

			let camera, scene, renderer, stats;

			const clock = new Clock();
	
			let mixer;
	
			DoThreeInit( sceneInfo );
			animate();
	
			function DoThreeInit( sceneInfo ) {
	
				const container = document.createElement( 'div' );
				//
				let mainTag = document.getElementById("mainContent")
				mainTag.appendChild( container );
	
				camera = new PerspectiveCamera( 45, mainTag.offsetWidth / mainTag.offsetHeight, 1, 2000 );
				camera.position.set( sceneInfo.cam.pos.x, sceneInfo.cam.pos.y, sceneInfo.cam.pos.z );

				scene = new Scene();
				scene.background = new Color( 0xa0a0a0 );
				scene.fog = new Fog( 0xa0a0a0, 200, 1000 );
	
				const hemiLight = new HemisphereLight( 0xffffff, 0x444444 );
				hemiLight.position.set( 0, 200, 300 );
				scene.add( hemiLight );
	

				const dirLight = new DirectionalLight( 0xffffff );
				dirLight.position.set( 70, 50, 100 );
				dirLight.castShadow = true;
				dirLight.shadow.camera.top = 40;
				dirLight.shadow.camera.bottom = - 20;
				dirLight.shadow.camera.left = - 20;
				dirLight.shadow.camera.right = 20;
				scene.add( dirLight );
	
				if (sceneInfo.cam.helper)
					scene.add( new CameraHelper( dirLight.shadow.camera ) );
	
				// ground
				const mesh = new Mesh( new PlaneGeometry( 2000, 2000 ), new MeshPhongMaterial( { color: 0x999999, depthWrite: false } ) );
				mesh.rotation.x = - Math.PI / 2;
				mesh.receiveShadow = true;
				scene.add( mesh );
	
				const grid = new GridHelper( 2000, 20, 0x000000, 0x000000 );
				grid.material.opacity = 0.2;
				grid.material.transparent = true;
				scene.add( grid );
	


				// Instantiate a loader
				const loader = new GLTFLoader();
				//
				let loadProgress = 0;
				let lastLoadProgress = loadProgress;

				// Optional: Provide a DRACOLoader instance to decode compressed mesh data
				const dracoLoader = new DRACOLoader();
				dracoLoader.setDecoderPath( '/static/three/examples/js/libs/draco/' );
				loader.setDRACOLoader( dracoLoader ); /**/

				// Load a glTF resource
				loader.load(
				//	'static/a3da/newObama3.glb',
				//	'static/a3da/morphs_gltf/animGeo.0000.glb',
				//	'static/a3da/Auto3DAvatarObama.glb',
				//	'static/a3da/Auto3DAvatarObama2.glb',
				//	'static/a3da/avatar2022.glb',
					sceneInfo.obj.url,
					// called when the resource is loaded
					function ( gltf ) {

						gParentObj = gltf.scene;
						gParentObj.scale.set( sceneInfo.obj.scale, sceneInfo.obj.scale, sceneInfo.obj.scale );

						console.log(dumpObject(gParentObj).join('\n'));

						getMeshObjects(gParentObj, gMeshObjs);
						let count = gMeshObjs.length;
						for (let i = 0; i < count; i++) {
							console.log("gMeshObjs[" + i + "] has name " + gMeshObjs[i].name);
							gMeshObjs[i].castShadow = true;
							gMeshObjs[i].receiveShadow  = false;
						}

						gltf.parser.getDependencies( 'material' ).then( ( materials ) => {

							console.log( materials );
						
						} );
			
						scene.add(gParentObj);

					},
					// called while loading is progressing
					function ( xhr ) {

						loadProgress = xhr.loaded / xhr.total * 100;
						if (loadProgress <= lastLoadProgress + 10)
							return;
						
						console.log( loadProgress + '% loaded' );

						lastLoadProgress += 10;

					},
					// called when loading has errors
					function ( error ) {

						console.log( 'An error happened' );

					}
				);


	
				renderer = new WebGLRenderer( { antialias: true } );

				renderer.shadowMap.enabled = true;

				renderer.setPixelRatio( window.devicePixelRatio );

				renderer.setSize( mainTag.clientWidth, mainTag.clientHeight );

				container.appendChild( renderer.domElement );
	
				
				gCamCtrls = new OrbitControls( camera, renderer.domElement );
				gCamCtrls.target.set( sceneInfo.cam.target.x, sceneInfo.cam.target.y, sceneInfo.cam.target.z );
				gCamCtrls.update(); /**/
	
				window.addEventListener( 'resize', onWindowResize );
	
				// stats
				stats = new Stats();
				container.appendChild( stats.dom );
			}
	
			function onWindowResize() {
	
				let mainTag = document.getElementById("mainContent")
				
				// camera.aspect = mainTag.offsetWidth / mainTag.offsetHeight;
				camera.aspect = mainTag.clientWidth / mainTag.clientHeight;

				camera.updateProjectionMatrix();
	
				// console.log( "mainTag.offsetWidth is " + mainTag.offsetWidth)
				// console.log( "mainTag.offsetHeight is " + mainTag.offsetHeight)

				// renderer.setSize( mainTag.offsetWidth, mainTag.offsetHeight );
				renderer.setSize( mainTag.clientWidth, mainTag.clientHeight );
			}
	
			function animate() {
	
				requestAnimationFrame( animate );
	
				/*
				let rEye = scene.getObjectByName('av_EyeRight');
				if (rEye) {
					rEye.rotateY( gEyeRot );
				    gEyeRot += MathUtils.degToRad(0.001); 
				} /**/
				

				const delta = clock.getDelta();
	
				if ( mixer ) mixer.update( delta );
	
				renderer.render( scene, camera );
	
				stats.update();
	
			}
		}


		function page_init() {
            let initialized = false;
			const access_token = localStorage.getItem('token');
			if (typeof access_token !== 'undefined') {
				const options = { headers: { "Authorization": "Bearer " + access_token } }
				fetch("/users/me", options)
				.then(response => response.json())
				.then( response => {

					if (response.hasOwnProperty('roles')) {

						// user is logged in:
						document.getElementsByTagName("nav")[0].innerHTML += 
							'<br/><br/><a href="#" class="button" onclick="UserContact()">Contact</a>';

						if (response.roles.includes("admin")) {

							document.getElementById("aside").innerHTML = 
								`<a href="#" class="button" onclick="UserSettings()">Settings</a>
								<br/><br/>
								<a href="#" class="button" onclick="Logout()">Logout</a>
								`;
						}

						initialized = true;
					}
				});
			}
			
            if (!initialized) {
				// user is not logged in:
				document.getElementsByTagName("nav")[0].innerHTML += 
				'<br/><br/><a href="#" class="button" onclick="Contact()">Contact</a>';

                initialized = true;
			}
		}

	</script>
	


	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}
	
</body>
</html>
