<style>
    .ql-container {
       box-sizing: border-box;
       font-family: Helvetica, Arial, sans-serif;
       font-size: 16px;
       height: 100%;
       margin: 0px;
       position: relative;
     }
   
     .ql-editor .ql-size-small {
       /* font-size: 0.75em; */
       font-size: 12px;
     }
   
     .ql-editor .ql-size-large {
       /* font-size: 1.5em; */
       font-size: 20px;
     }
   
     .ql-editor .ql-size-huge {
       /* font-size: 2.5em; */
       font-size: 24px;
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-label::before,
     .ql-snow .ql-picker.ql-size .ql-picker-item::before {
       /* content: 'Normal'; */
       content: '16px';
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
       /* content: 'Small'; */
       content: '12px';
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
       /* content: 'Large'; */
       content: '20px';
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
       /* content: 'Huge'; */
       content: '24px';
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
       font-size: 12px;
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
       font-size: 20px;
     }
   
     .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
       font-size: 26px;
     }
</style>