<script>

    function ifAccessDo(callback) {
        const access_token = localStorage.getItem('token');
        if (typeof access_token === 'undefined') { 
            window.location.href = "/"; 
        }
        else {
            fetch("/users/me")
            .then(response => response.json())
            .then( response =>  {

                if (!response.hasOwnProperty('username')) {
                   window.location.href = "/";
                }
                else {
                    if (typeof callback == "function")
                        callback();
                }
            });
        }
    }
    
</script>