                
                <p><b>Account Roles:</b> {{data.roles}}</p>
                
                <p>Any changes below trigger an email notification.</p>

                <div id="userSettings">

                    <div id="userEmail">
                        <label for="email">Change email:</label>
                          <input type="text" id="email" name="label" value="{{data.email}}">
                    </div>
                    
                    <div id="userEmail2">
                        <label for="email2">Change email again:</label>
                        <input type="text" id="email2" name="label" value="{{data.email}}">
                    </div>
    
                    <div id="userMsg">Both fields must match to change.</div>

                    <a href="#" class="button" id="changeEmailBttn" onclick="ChangeEmail()">Change email</a>
    
                    <div id="userPassword">
                        <label for="password">Change password:</label>
                        <input type="password" id="password" name="label" value="">
                    </div>
                    
                    <div id="userPassword2">
                        <label for="password2">Change password again:</label>
                        <input type="password" id="password2" name="label" value="">
                    </div>
                    
                    <div id="userMsg2">Both fields must match to change.</div>

                    <a href="#" class="button" onclick="ChangePassword()">Change password</a>
    
                    <div id="userMsg3"><p>This freezes the account from any future activity.</p></div>
                    <a href="#" class="button" onclick="DisableAccount()">Disable Account</a>
                    
                </div>

                
