
    <script>

		function ChangeEmailWork() {
			// get user data
			const newEmail = document.getElementById("email").value;
			const newEmail2 = document.getElementById("email2").value;
			if (newEmail != newEmail2)
			{
				document.getElementById("userMsg").innerHTML += 
					'<h3>Both email fields must match to change your email.</h3>';
			}
			else
			{
				document.getElementById("userMsg").innerHTML = "Both fields must match to change.";

				// post as ordinary text submission:
				const options = {
					method: 'POST',
					headers: {
						  'Accept': 'application/json',
						  'Content-Type': 'application/json',
					},
					body: JSON.stringify( { "text": newEmail } )  
				};
				fetch( '/users/setemail/', options )
					.then( response => response.json() )
					.then( response => {
						// Do something with response.
						console.log( response )
						document.getElementById("userMsg").innerHTML = 
							'<p>Email successfully changed.</p>';
					}
				); 
			}
		}
		function ChangeEmail() {
			ifAccessDo(ChangeEmailWork);
		}

		function ChangePasswordWork() {
			// get user data
			const newPassword = document.getElementById("password").value;
			const newPassword2 = document.getElementById("password2").value;
			if (newPassword != newPassword2)
			{
				document.getElementById("userMsg2").innerHTML += 
					'<p>Both password fields must match to change your password.</p>';
			}
			else{
				document.getElementById("userMsg2").innerHTML = '';

				// post as ordinary text submission:
				const options = {
					method: 'POST',
					headers: {
						  'Accept': 'application/json',
						  'Content-Type': 'application/json',
					},
					body: JSON.stringify( { "text": newPassword } )  
				};
				fetch( '/users/setpass/', options )
					.then( response => response.json() )
					.then( response => {
						// Do something with response.
						// console.log( response )
						document.getElementById("userMsg2").innerHTML = 
							'<p>Password successfully changed.<br/>Expect an email with updated account info.</p>';
					}); 
			}
		}
		function ChangePassword() {
			ifAccessDo(ChangePasswordWork);
		}


		function DisableAccountWork() {
			const options = { 
				method: 'DELETE',
				// headers: { "Authorization": "Bearer " + access_token } // only needed when JWT is not in cookie
			};
			fetch( '/users/disable', options )
				.then( response => response.json() )
				.then( response => {
					// Do something with response:
					console.log( response )
					window.location.href = "/";
				} ); 
		}
		function DisableAccount() {
			ifAccessDo(DisableAccountWork);
		}

		function UserContact() { window.location.href = "/Contact"; }
		
	</script>