<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Blog of Blake Senftner</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		{# the main content area #}
		<main>
			<div id="mainContent">
				{# title and post contents, with an optional edit button #}
				<H3> Welcome to my website and blog. </H3>
				<p>I'm Blake Senftner. This website is my blog and career showcase. 
				   I have been lucky to be a developer with some great teams and write some amazing software.</p>
				<!-- -->
				<img id="GraveCaveImg" src="/static/GraveCave.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="MacImg" src="/static/OriginalMac.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="FractalsBookImg" src="/static/BeautyOfFractalsBook.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="BULabImg" src="/static/BUGraphicsLab.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="HarvestImg" src="/static/HarvestOfTheSun.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="TD0Img" src="/static/3D0_Logo_1996.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="PSXImg" src="/static/PlayStation.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="TigerWoodsImg" src="/static/TigerWoodsPSX.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="CatImg" src="/static/CatInTheHat.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="ScoobyImg" src="/static/ScoobyDoo.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="GarfieldImg" src="/static/Garfield.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<img id="NarniaImg" src="/static/Narnia.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
				<video id="AvatarStoreVid" controls muted width="434" height="200" src="/video/AvatarStore.mp4" type="video/mp4" 
				       onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" ></video>
				<!-- -->
				<img id="AureusImg" src="/static/Aureus3Dv6.jpg" onmouseenter="bigImg(this)" onmouseleave="normalImg(this)" />
				<!-- -->
                <p>I had my first college programming class in '76, while in 5th grade. I've been writing software professionally since age 17, 
				   that being 1982. It was during high school of '82 I founded a video game studio for the <b>Vic-20</b> and the <b>Commodore 64</b> 
				   home computers. We called ourselves <em>EathenRoss Software</em>, my best friend Chris Ross and I. That first image in the upper 
				   left was our <em>Grave Cave</em> game for the Vic-20. We had games nation wide (USA) in <b>Sears</b> and <b>K-Mart</b> the 
				   holiday season of 1982. I wrote the software, Chris achieved our distribution deals, and together we made the packaging and 
				   shrink wrapped the packaged games ourselves. That high school game studio was a lot of ambitious and crazy teen energy exposing 
				   us to the larger world of professional technology and business. Lessons that proved to be very useful later...
                </p>
                <p>
                   I was one of the original pre-release <b>Apple Macintosh</b> developers, and still have a <em>mimeographed while being authored</em> version 
				   of <b>Inside Macintosh</b> with hand scribbled corrections from the Apple OS developers on many of the pages. That was an amazing experience,
				   primarily because the <b>Macintosh Professional Developer's Program</b> was a <b>Harvard Summer School Seminar</b> the summer of 1983, six 
				   months before the Mac's release. All the coding was Assembly back then, and <em>I loved it.</em>
				</p>
				<p>I became a member of the 80's <b>3D graphics research
                   community</b>, where one of my roles was working for <a href="https://en.wikipedia.org/wiki/Benoit_Mandelbrot">Benoit Mandelbrot</a> on his original
				   research publication of <a href="https://en.wikipedia.org/wiki/The_Beauty_of_Fractals">Fractal Mathematics</a>. Working at the <b>Boston University
				   3D Graphics Lab</b> exposed me to scientific visualization work, the foundations of formal 3D computer animation, and my first formal work writing
				   artificial intelligence. The 4th image, top row, is some 3D renderings from my Boston 3D Graphics Lab days: in that image the top is a ray traced 
				   motion blurred yellow sphere in a reflective fractal cube, middle are some fractal cracked platonic solids, and the bottom is an AI Simulation  
				   language that was my senior thesis. My undergrad thesis was a complete <em>3D animation language with AI simulation and forecasting.</em>
				</p>
				<p>
				   After undergrad I became an R&D developer for <b>Philips Media</b>, back when CD-ROMs were <em>research.</em> At <b>Philips Media</b> I authored  
				   an interactive documentary production system, and then technically led a production team creating 13 different 7+ hour art history documentaries, 
				   each repeat produced in 8 languages. I was a speaker at multiple international software conferences, discussing the creation and use of my 
				   <b>ASLAN</b> production system, which <b>Philips Media</b> sold as a professional product.
				</p>
				<p>After that I became OS team member of both the <b>3D0</b> and the original <b>Sony PlayStation</b> 3D game consoles. Recruited by <b>Electronic 
				   Arts</b> before their 3D0 spinout as a separate company, I wrote the original implementation of the <em>3D0 video subsystem,</em> as well as was 
				   a team member of <em>Road Rash 3D0</em>. As the 3D0 failed, I was hired as <b>Sony Computer Entertainment of North America's</b> first software
				   developer, promptly shipped off to Tokyo to work on the finalizing of the PlayStation's operating system.  
				</p>
				<p>
				   Over the 90's I worked on over 36 multimedia and/or 3D video game titles (including <b>Tiger Woods Golf</b>, <b>NCAA Football</b>, 
				   <b>Brunswick Bowling</b> and more). As the 90's closed I became <b>Director of Skunkworks</b> for the Internet's first <em>Live Video Infrastructure 
				   Provider:</em> <b>Rotor Communications</b>. As one of the pioneers of <b>Live Internet Video</b> <em>five years before YouTube,</em> I wrote video 
				   codecs and produced a live talk show featuring underground L.A. bands.
				</p>
				<p>
                   After the domcom crash, I worked as a triplicate <em>digital artist / software engineer / financial analysis</em> for <b>Rhythm & Hues Studios</b> an 
				   <b>Academy Award</b> winning VFX studio across nine VFX heavy major release feature films. While working in VFX, I also earned a <b>double majored 
				   MBA</b> in <b>Finance</b> and <b>International Business.</b> My Master's Thesis is in and I am a global patent author for <b><em>Automated Actor 
				   Replacement in Filmed Media</em>.</b> 
                   Acquiring a <em>global patent</em> is a story. 
                </p>
                <p>
                   I attempted to create a new form of advertising with my patent. I envisioned <em>Personalized Video Advertising</em> where you, your family 
                   and friends appear in the video adverts streamed to your Internet devices. I launched a startup with fellow VFX veterans and built a complete 
                   broadcast quality <b>automated actor replacement pipeline</b> and <b>automatic photo-real digital double creation service</b>. 
                   However, launching during 2008's financial crisis and a good number of years before public awareness of
                   <em>deep fake technology</em>, financing was unrealizable and a pivot to the video game industry could not save the company. 
                   From the experience of my startup, I gained the interest of a leading <b>Facial Recognition Developer</b>. I became the lead engineer of their 
                   flagship product through three generations, earning top 5 placements in the annual <b>NIST Facial Recognition Vendor's Test</b> each year 
                   participating. That last image, lower right last row describes the Aureus3D-AI facial recognition software.
                </p>
                <p>If you want to send me a direct contact, you will need to register an account.
                    You can register by clicking the link on the right-hand sidebar. 
                </p>
                <p>About this web site: <a href="https://github.com/bsenftner/fastAPI_TDD_Docker">I hand coded it myself.</a> The backend is in Python using 
				   FastAPI + Postgres, both hosted inside Docker containers. The front end is handwritten static html/CSS, and minimal JavaScript over the
				   <a href="https://github.com/julianshapiro/velocity">Velocity library</a>, for my own personal amusement.  
                </p>
			</div>
			<h5>tags: home</h5>
		</main>

		{# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Login()">Login</a>
				<br/>
				<a href="#" class="button" onclick="Register()">Register</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	<!-- Include the Velocity library -->
	<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>

	<script>

		function bigImg(x) {
			Velocity(x, { height: "180px" }, 1000);
		}
		  
		function normalImg(x) {
			Velocity(x, { height: "170px" }, 1000);
		}


		document.addEventListener("DOMContentLoaded", function() {
			page_init();
		  });
		function page_init() {

            // everyone is allowed:
			const access_token = 1 // = localStorage.getItem('token');
			//
			if (typeof access_token !== 'undefined') {
				fetch("/users/me", { headers: { "Authorization": "Bearer " + access_token } })
				.then(response => response.json())
				.then( response => 
					{
						if (response.hasOwnProperty('roles')) {

							// user is logged in, change contact link:
							document.getElementById("contactButton").innerHTML = '<a href="#" class="button" onclick="UserContact()">Contact</a>';

							document.getElementById("aside").innerHTML = 
							`<a href="#" class="button" onclick="UserSettings()">Settings</a>
							<br/><br/>
							<a href="#" class="button" onclick="Logout()">Logout</a>
							`;
						}
				  })
			}
		}

		function Login() { window.location.href = "/login"; }

		function Register() { window.location.href = "/register"; }

		function UserSettings() { window.location.href = "/Settings"; }

		function UserContact() { window.location.href = "/Contact"; }

		function Contact() { window.location.href = "/precontact"; }

	</script>

	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}

</body>
</html>
