<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Blog of Blake Senftner</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

        {# the main content area #}
		<main>
			<div id="mainContent">
				{# a login form #}
            	<h4>Login:</h4>
				<div id="userMsg"></div>
				<form method="post">
			    	<label for="username">Username:</label>
  			    	<input type="text" id="username" name="label" value="">
                	<br/>
                	<label for="password">Password:</label>
                	<input type="password" id="password" name="label" value="">
                	<br/>
                	<br/>
			    	<div id="divLoginButtons">
				    	<a href="#" class="button" onclick="Cancel()">Cancel</a>
				    	<a href="#" class="button" onclick="Login()">Login</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
				    	<a href="#" class="button" onclick="ResetPassword()">Reset password</a>
						<br/>
						For password reset, enter your username or the email used to register at this site.<br/>
						After clicking the reset button you will receive an email with a new password.
			    	</div>
				</form>
			</div>
		</main>

        {# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Register()">Register</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	<script>
		
		document.addEventListener("DOMContentLoaded", function() {
			page_init();
		  });
		function page_init() {

			// look for an existing access_token indicating the user is logged in:
			const access_token = localStorage.getItem('token');
			if (typeof access_token !== 'undefined') {

				// if already authenticated, this will return valid user data:
				fetch("/users/me")
				.then(response => response.json())
				.then( response =>  {

					if (response.hasOwnProperty('roles')) {

						// user is logged in, change contact link:
						document.getElementById("contactButton").innerHTML = '<a href="#" class="button" onclick="UserContact()">Contact</a>';
							
						document.getElementById("mainContent").innerHTML = 
								"<h4>Welcome back, " + response.username + "</h4>";
							
						document.getElementById("aside").innerHTML = '<a href="#" class="button" onclick="UserSettings()">Settings</a><br/><br/><a href="#" class="button" onclick="Logout()">Logout</a>';

						if (response.roles.includes('unverified')) {
							let newHtml = '<h4>Please verify your email:</h4><label for="vcode">Verification code:</label><input type="text" id="vcode" name="label" value=""><br/><br/><div id="userVerifyMsg"></div><div id="divLoginButtons"><a href="#" class="button" onclick="Cancel()">Cancel</a><a href="#" class="button" onclick="VerifyEmail()">Verify Email</a></div>';
							document.getElementById("mainContent").innerHTML += newHtml
						}
					}
				});
			}
		}

        function VerifyEmail() { 
			// get the verification code:
			userVCode = document.getElementById("vcode").value;
			userVCode = userVCode.trim();
			// post:
			const params = { "text": userVCode };
			//
			const options = {
				method: 'POST',
				headers: {
					  'Accept': 'application/json',
					  'Content-Type': 'application/json',
					  // "Authorization": "Bearer " + access_token // only needed when JWT is not in cookie
				},
				body: JSON.stringify( params )  
			};
			fetch( '/users/verify', options )
				.then( response => response.json() )
				.then( response => {
					// Do something with response.
					console.log( response )
					if (response.status=='Ok' || response.status=="Already verified") {
						document.getElementById("mainContent").innerHTML = 
								"<h4>Email verified, thank you.</h4>";
					}
					else{
						document.getElementById("userVerifyMsg").innerHTML = 
								"<h4>" + response.detail + "</h4>";
					}
				}); /* */
		}

        function Cancel() { window.location.href = "/"; }

		function Register() { window.location.href = "/register"; }

		function UserSettings() { window.location.href = "/Settings"; }

		function UserContact() { window.location.href = "/Contact"; }

		function Contact() { window.location.href = "/precontact"; }
		
		function Login() { 
            
            // get the user's info:
			const loginUser = document.getElementById("username").value;
			const loginPass = document.getElementById("password").value;
			if (loginUser.length < 1 || loginPass.length < 12) {
				document.getElementById("userMsg").innerHTML += 
						'<p>Bad username or password.</p>';
			}
			else {
				const formData = new FormData();
            	formData.append('username', loginUser);
            	formData.append('password', loginPass);
				//
				const options = { method: 'POST', body: formData };
				//
            	fetch('/token', options)
            	.then(response => response.text())
            	.then(data => { 
                	console.log(data);
                	const jsonData = JSON.parse(data);
					if (jsonData.access_token) {
						localStorage.setItem('token', jsonData.access_token);
                		window.location.reload();
					}
                	else if (jsonData.detail)
					{
						document.getElementById("userMsg").innerHTML += 
							'<p>' + jsonData.detail + '</p>';
					}
            	});
			}
        }

		function ResetPassword() { 
            
            // get the user's info:
			const resetText = document.getElementById("username").value;

			const regData = { 
				'text': resetText
			};
			const options = { 
				method: 'POST', 
				headers: {
					  'Accept': 'application/json',
					  'Content-Type': 'application/json',
				},
				body: JSON.stringify( regData ) 
			};
			fetch('/users/resetpass', options)
			.then(response => response.text())
			.then(data => { 
				console.log(data);
				const jsonData = JSON.parse(data);
				localStorage.setItem('webusername', jsonData.username);
				window.location.reload();
			});
        }

	</script>

	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}

</body>
</html>
